<div class="container">
  @if(product) {
  <div class="card">
    <div class="card-header">Product Info: {{ product.title }}</div>
    <table>
      <tr>
        <th>Email</th>
        <th>User</th>
        <th>Pice</th>
        <th>Date</th>
        <th>Action</th>
      </tr>

      @for (bid of product.bids; track bid._id) {
      <tr>
        <td>{{ bid.user.email }}</td>
        <td>{{ bid.user.username }}</td>
        <td>{{ bid.price }}</td>
        <td>{{ bid.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
        <td>
          @if(bid.price === product.bidPriceMax && !bid.isWinBid) {
          <button (click)="handleSetBidWin(bid._id)" class="btn btn-info">
            Set Win
          </button>
          } @else if (bid.isWinBid) {
          <span class="badge badge-success">Win Bid</span>
          }
        </td>
      </tr>
      }
    </table>
  </div>
  }
</div>
